<div class="container-fluid bg-light position-relative shadow">
  <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
    <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
      <i class="flaticon-043-teddy-bear"></i>
      <span class="text-primary">a9ra 3la rouhek</span>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav font-weight-bold mx-auto py-0">
        <a routerLink="" class="nav-item nav-link active">Home</a>
        <a routerLink="addcour" class="nav-item nav-link active">Add Cour</a>
        <a routerLink="class.html" class="nav-item nav-link active">Classes</a>
        <a routerLink="dashboardstudent" class="nav-item nav-link active">Dashboard Student</a>
        <a routerLink="dashboardadmin" class="nav-item nav-link active">Dashboard Admin</a>
        <a routerLink="team.html" class="nav-item nav-link active">Teachers</a>
        <a routerLink="searchteacher" class="nav-item nav-link active">search teacher</a>
        <div class="nav-item dropdown">
          <a routerLink="#" class="nav-link dropdown-toggle active" data-toggle="dropdown">Signup</a>
          <div class="dropdown-menu rounded-0 m-0">
            <a routerLink="signupteacher" class="dropdown-item">Signup Teachers</a>
            <a routerLink="signupstudent" class="dropdown-item">Signup Student</a>
            <a routerLink="signupparent" class="dropdown-item">Signup Parent</a>
          </div>
        </div>
        <a routerLink="login" class="nav-item nav-link active">Login</a>
      </div>
    </div>
  </nav>
</div>