<app-banner title="Dashboard Student"></app-banner>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
      aria-selected="true">les cours</a>
  </li>


</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id Cour</th>
          <th scope="col">name course</th>
          <th scope="col">actions</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>

        </tr>

      </tbody>
    </table>
  </div>

</div>