<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">email</th>
      <th scope="col">tel</th>
      <th scope="col">adresse</th>
      <th scope="col">specialite</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of teacherstab">
      <th scope="row">{{i.id}}</th>
      <td>{{i.name}}</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button class="btn btn-success mr-2" (click)="display(1)">display</button>
        <button class="btn btn-warning mr-2" (click)="edit(1)">Update</button>
        <button class="btn btn-primary mr-2" (click)="edit(1)">validate</button>
        <button class="btn btn-danger mr-2" (click)="delete(1)">Delette</button>
      </td>
    </tr>
  </tbody>
</table>